body {
	padding-top: 70px;
}

.navbar-brand.logo {
	padding: 4px 4px 4px 8px;
}

.navbar-brand.logo img {
	height: 42px;
}

.navbar .btn-add-alias {
	margin-right: 8px;
}

h1 {
	font-family: 'Special Elite', monospace;
	font-size: 24px;
	color: #2d2b28 !important;
}

h1.navbar-text {
	margin: 15px 0 0 0;
}

p {
	font-family: 'Special Elite', monospace;

}

.hidden,
.template {
	display: none;
}

.btn .confirm {
	display: none;
}

.btn-danger .confirm {
	display: inherit !important;
}
